
body {  background-color: red;  color: darkgray;}


header {  background-color: ; color: #FFFFFF;}


nav { background-color: #70DBDB;}


h2 { color: #00664D;}


dt { color: #00664D;}


.barn {  color: #70DBDB;}

