

body {  
  background-color: #FFFFFF; 
  color: #666666;
  font-family: Arial, Verdana, sans-serif; 
     }


header {  
  background-color: #00B386;
   color: #FFFFFF;
 background-image: url("Images/pasture.png) 
background-repeat: no-repeat;
line-height: 400%; 
text-indent: 1em;
}
h1 {
  margin-bottom: 0;
}

nav { 
  background-color: #70DBDB;
}


h2 { 
  color: #00664D;
}


dt {
  color: #00664D;
}


.barn {  
  color: #70DBDB;
}

